@font-face {
    font-family: "Titillium";
    src: url('fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: "TitilliumBold";
    src: url("fonts/TitilliumWeb-SemiBold.ttf");
}

.searchIcon{
    position: absolute;
    z-index: 9;
    top: -34px;
    left: 10px;
}

*{
    font-family: "Titillium", Verdana, sans-serif, Arial;
}

h1,h2,h3,h4,h5,h6,.mainnav{
    font-family: "TitilliumBold", Verdana, sans-serif, Arial !important;
}

body{
    background:#fff!important;
}

.btn.btn-link{
    color: black!important;
}

.no-padding{
    padding:0px!important;
}

.no-padding-left{
    padding-left:0px!important;
}

.no-padding-top{
    padding-top:0px!important;
}

.no-padding-right{
    padding-right:0px!important;
}

.no-padding-bottom{
    padding-bottom:0px!important;
}

.card-header{
    background:white!important;
}

.toggleCard{
    display: none;
}

.toggleCard.show{
    display: block!important;
}

span.btn{
    color: #fff;
    /*background-color: #d46124!important;*/
    /*border-color: #d46124!important;*/
    float: right;
}

.tool-bar{
    position: absolute;
    right: -89px;
    background: #FFFFFF;
    width:auto;
    border: 1px solid #e6e6e6;
    cursor:pointer;
}

.tool-bar span.fontsize{
    text-align: center;
    display: inline-block;
    padding:0px 15px;
}

.tool-bar span.fontsize p:first-child{
    font-size: 22px;
}

.tool-bar span.fontsize p:last-child{
    font-size: 13px;
}

.modal.large{
    max-height: 100%;
}

.modal-dialog{
    width:90%;
    max-width: 90% !important;

}
.col-2.dummyCol{
    display: none;
}
.container.slider{
    background-color: #d9f0ed;
    height: 390px;
}

.container.slider figure{
    margin-bottom:0;
}

.container.slider .content{
    background-color: #d9f0ed;
    padding: 1em 4% 1em 1em;
}

.container.slider .content h2{

    margin-top: 22%;
}

.list-group{
    position: absolute!important;
    top: .75rem;
}

.fixed{
    position: fixed!important;
    top: 0;
    z-index: 99;
}

.absolute{
    position: absolute !important;
    bottom: 16%;
    z-index: 99;
}

@media (min-width: 1200px){
    .container.slider {
        max-width: 1200px;!important;
    }
}

nav .footer {
    padding: 0!important;
}

.footer{
    position: relative!important;
    width:100% !important;
    max-width: 100%!important;
    padding: 1em 0 !important;
    background: #575756 !important;
    z-index: 100;
}

.sideMenuItem{
    background: #d9f0ed;
    padding:1em;
}

.sideMenuItem.active{
    background: #0e8b7a;
    color: white;
}

.hamburgMenu{
    background: #0e8b7a;
    display: table;
    margin-top: 39px;
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.containerMenu {
    display: table-cell;
    cursor: pointer;
}

span.textMenu {
    vertical-align: middle;
    height: 100%;
    display: table-cell;
    width: 65px;
    padding-right: 6px;
    font-family: TitilliumBold;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    display: block;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.sectionSlider{
    background: url("images/backgroundslider.png") no-repeat;
    background-size: auto 100%;
    height: 500px;
    position: relative;
    background-position-x: 78%;
}

section.sectionTryVersion {
    background: #1c8b7a;
    text-align: center;
}

button.btn.tryVersion {
    margin-left: auto;
    margin-right: auto;
    background: #1c8b7a;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-bottom: 3em;
    outline: none;
}

section.sectionNews figure {
    margin-bottom: 0;
}

section.sectionSearch {
    text-align: center;
    background: white;
    padding: 2em 0;
}

section.sectionSearch h1 {
    margin: 0 0 1em 0;
}

.customContainer {
    width: 40%;
    background: white;
    position: absolute;
    right: 5%;
    top: 10%;
    height: 80%;
    padding: 1em;
}

.customContainer p {
    font-size: 14px;
}

.addMarginOnP {
    margin-bottom: 1.75em;
}

.memberButtons{
    margin-top: 1em;
}

.memberBtn.orangeTrans{
    border:2px solid #fa752b;
    color: #fa752b!important;
    background: white!important;
    margin-left: 1em;
}

footer{
    padding: 1em 0 !important;
    background: #575757;

}

footer p, footer h3 {
    margin-bottom: 0.75em;
}

footer img {vertical-align: middle}

footer .col-12{
    text-align: center;
    padding-top:1em;
    margin-bottom: 0!important;
}

section#content {
    margin-bottom: 4em;
}

.bd-example p{
    margin-bottom:1em;
}

.checkListMembership p{
    margin:0;
}

.form-navigation{
    text-align: center;
    border: none !important;
}

.form-navigation a{
    display: inline-block
}

.form-navigation li.nav-item,
.form-navigation li.nav-item:hover {
    width: 25%;
    border: none !important;
    position: relative!important;
}

.form-navigation a.active,
.form-navigation a:hover {
    border: none!important;
}

.form-navigation span.circle{
    background:white;
    border:3px solid #d7e0df;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: block;
    z-index: 10;
    position: relative;
}

.form-navigation a.active span.circle{
    background: #fa752b;
    border-color: #fa752b;
}

.form-navigation a.complete span.circle{
    background: #fff;
    border-color: #fa752b;

}
span.border-line {
    display: inline-block;
    position: absolute;
    height: 4px;
    width: 50%;
    background-color: #d7e0df;
}

.border-line.right{
    right: 0;
    top: 58%;
}
div.tab-pane{
    width:100%;
    padding: 2em;
    border: 2px solid #d7e0df;
}
.border-line.left{
    left: 0;
    top: 58%;
}

.border-line.active{
    background: #fa752b;
}

#doneTab .col-12 i{
    font-size:130px;
    color:#0e8b7a;
    margin-bottom:24px;
}

#doneTab .col-12 p{
    font-size: 24px;
    margin-bottom: 1em;
}