@font-face {
    font-family: "Titillium";
    src: url('fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: "TitilliumBold";
    src: url("fonts/TitilliumWeb-SemiBold.ttf");
}

.searchIcon{
    position: absolute;
    z-index: 9;
    top: -34px;
    left: 10px;
}

*{
    font-family: "Titillium", Verdana, sans-serif, Arial;
}

h1,h2,h3,h4,h5,h6,.mainnav{
    font-family: "TitilliumBold", Verdana, sans-serif, Arial !important;
}

.btn.btn-link{
    color: black!important;
}

.no-padding{
    padding:0px!important;
}

.no-padding-left{
    padding-left:0px!important;
}

.no-padding-top{
    padding-top:0px!important;
}

.no-padding-right{
    padding-right:0px!important;
}

.no-padding-bottom{
    padding-bottom:0px!important;
}

.card-header{
    background:white!important;
}

.toggleCard{
     display: none;
 }

.toggleCard.show{
     display: block!important;
 }

span.btn{
    color: #fff;
    /*background-color: #d46124!important;*/
    /*border-color: #d46124!important;*/
    float: right;
}

.tool-bar{
    position: absolute;
    right: -89px;
    background: #FFFFFF;
    width:auto;
    border: 1px solid #e6e6e6;
    cursor:pointer;
}

.tool-bar span.fontsize{
    text-align: center;
    display: inline-block;
    padding:0px 15px;
}

.tool-bar span.fontsize p:first-child{
    font-size: 22px;
}

.tool-bar span.fontsize p:last-child{
    font-size: 13px;
}

.modal.large{
    max-height: 100%;
}

.modal-dialog{
    width:90%;
    max-width: 90% !important;

}